﻿@model ChosenInMVC.Models.SelectedEmployee
@{
    ViewBag.Title = "AddOrEdit";
}

<h2>Searchable and MultiSelect DropDown in mvc</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.HiddenFor(model=>model.ID)
        <div class="form-group">
            <label>Select Employee</label>
            @*Normal DropDown*@
          @*  @Html.DropDownListFor(model=>model.SelectedEmployeeIDs,new SelectList(Model.EmployeeCollection,"EmployeeId","Name"),new {id = "normalDropDown"})*@
            
             @*Multiple select DropDown*@
            @Html.ListBoxFor(model => model.SelectedIDArray,new MultiSelectList(Model.EmployeeCollection,"EmployeeId","Name"),new { id = "multiSelectDropDown",multiple="multiple"})
            <input type="submit" name="name" value="Submit" />
        </div>
    </div>

}

@section scripts{
    <script>
        $(function () {
           ////// =========  normal DropDown

            //$("#normalDropDown").chosen({

            //    //disable_search : true
            //    disable_search_threshold: 4

            //});

            ////// =========  Multiple DropDown
            $("#multiSelectDropDown").chosen({

                width:"100%"
            });
        });
    </script>
 }

